# === Node / React ===
**/node_modules/
**/build/
**/dist/
**/.env
**/.cache/

# === Java / Spring Boot ===
**/target/
**/.classpath
**/.project
**/.settings/
**/.idea/
**/.vscode/

# === OS Files ===
.DS_Store
Thumbs.db

# === IDEs ===
.idea/
.vscode/

# === Logs and temporary ===
*.log
*.tmp
*.bak

# === Environment / Secrets ===
.env
*.env.local

/Users/zhyrecoritico/Desktop/Programming/HelpUp/helpUp-system/backend/helpup/src/main/resources/application.properties